.root {
  display: flex;
  flex-direction: column;
  background: #eee;
  height: 100%;
}

.wrapper {
  flex: 1;
  touch-action: none; /* Prevents the browser from interfering with your zoom logic */
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.tree {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  touch-action: none;
  pointer-events: auto;
}

.reset {
  position: absolute;
  right: 10px;
  top: 60px;
  padding: 4px 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 1;
  cursor: pointer;
}

.details {
  position: absolute;
  left: 10px;
  top: 60px;
}

.empty {
  padding: 40px 20px;
  text-align: center;
  color: #666;
}

.startButton {
  margin-top: 8px;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #888;
  background: #fdfdfd;
  cursor: pointer;
}

.startInput {
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 8px;
}
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .details {
    top: 100px;
  }
}
