.root {
    padding: 10px;
    margin-top: 30px;
    padding-top: 0;
    font-family: monospace;
    font-size: 16px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.root tr td:first-child {
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
}